<div #mapContainer id="map"></div>
<!-- <app-upload></app-upload> -->
<p>
  This project's genesis is my town's management team was tasked to delivery meals to families who's children received school provided lunches.
</p>
<p>
  The intent is to visualize street addresses found in a spreadsheet. Long term desire is to allow people to upload the spreadsheet. For now, one needs to use Postman or another tool to upload the file.
</p>
<p>
  This project is also a basis for containerizing an app, and building a cluster using Helm Charts.
</p>
